<div class="ui segment">
 <h3>Mailbox</h3>
 <div class="ui list">
  <div class="item">
    <% @convertations.each do |convertation| %>
      <% if convertation.sender_id == current_user.id ||      convertation.recipient_id == current_user.id %>
        <% if convertation.sender_id == current_user.id %>
          <% recipient = User.find(convertation.recipient_id) %>
        <% else %>
          <% recipient = User.find(convertation.sender_id) %>
        <% end %>
        <%= link_to recipient.email,   convertation_messages_path(convertation)%>
      <% end %>
    <% end %>
  </div>
 </div>
</div>
<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <div class="item">
          <%= user.email %> <%= link_to "Message me!", convertations_path(sender_id: current_user.id, recipient_id: user.id), method: :post%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
